
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= query.name %></dd>
  <% if current_user == query.user %>
    <dt>Links:</dt>
    <dd><%= link_to 'Show', query %>
    <%= link_to 'Edit', edit_query_path(query) %>
    <%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
  <% end %>
</dl>
<div class="results-wrapper">
  <h3>Tweets</h3>
  <% query.results.each_with_index do |result, index| %>
    <%= index+1 %> <%= render result %>
  <% end %>
</div>

