<div class="row">
  <dl class="dl-horizontal span4">
    <dt>Name</dt><dd><%= query.name %></dd>
    <% if current_user == query.user %>
      <dt>Zip Code</dt><dd><%= query.zip_code %></dd>
      <dt>Radius</dt><dd><%= query.radius %></dd>
      <dt>Daily Budget</dt><dd><%= query.max_spending %></dd>
      <dt>Email Notifications</dt><dd><%= if query.notifications then "Yes" else "No" end %></dd>
      <dt><%= link_to 'Edit', edit_query_path(query), class: "btn" %></dt>
    <% end %>
  </dl>
  <dl class="dl-horizontal span4">
    <% if current_user == query.user %>
      <% if query.filters.empty? %>
        <dt>Currently no filters</dt>
      <% else %>
        <% query.filters.each_with_index do |filter, index| %>
          <dt>Filter <%= index+1 %></dt><dd><%= filter.keyword %>, CPL: <%= filter.cpl %><dd>
        <% end %>
      <% end %>
    <% end %>
    <dt><%= link_to 'Edit', edit_query_path(query), class: "btn" %></dt>
  </dl>
</div>

<div class="results-wrapper">
  <h3>Tweets</h3>
  <%# query.results.each_with_index do |result, index| %>
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>There are people out there that suffer in silence and stay strong without making an attention seeking status every single day.</p>&mdash; Shannon Lucas (@ShannonLucas9) <a href="https://twitter.com/ShannonLucas9/statuses/365578844872261633">August 8, 2013</a></blockquote>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>RT if you own a sieve <a href="http://t.co/Ylra39QhfH">pic.twitter.com/Ylra39QhfH</a></p>&mdash; Boring Bob (@_Boring_Bob_) <a href="https://twitter.com/_Boring_Bob_/statuses/365578093785653248">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Who&#39;s looking for beats?</p>&mdash; ▲ Graves (Producer) (@GravesBeats) <a href="https://twitter.com/GravesBeats/statuses/365576215119138817">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>so many babies in need of help! <a href="http://t.co/YYcDXjVDbm">http://t.co/YYcDXjVDbm</a></p>&mdash; donna wilson (@donnawi34448558) <a href="https://twitter.com/donnawi34448558/statuses/365578844943556608">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Men are not prisoners of fate, but only prisoners of their own minds. - Franklin Roosevelt</p>&mdash; Quote Aficionado (@QuoteAficionado) <a href="https://twitter.com/QuoteAficionado/statuses/365518738990170112">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p><a href="https://twitter.com/poorman_t">@poorman_t</a> only thing these bitches need to know is that he is unavailable</p>&mdash; #BelieveWeoUT Oracle (@TheNajLaHall) <a href="https://twitter.com/TheNajLaHall/statuses/365578845249748992">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Came up on my own , these niggahs can&#39;t do what I do</p>&mdash; ★ (@ElijahOVO) <a href="https://twitter.com/ElijahOVO/statuses/365577957458182144">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Not sure if I need more coffee or just need a new job.</p>&mdash; Men&#39;s Humor (@MensHumor) <a href="https://twitter.com/MensHumor/statuses/365578347054497793">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Fuckkkkkk. Find out good news about my bear babes calendar shoot only to find out it crosses dates with my trip... <a href="http://t.co/wAg26VeHhx">http://t.co/wAg26VeHhx</a></p>&mdash; Miss March 2013 (@Taryn_Maria) <a href="https://twitter.com/Taryn_Maria/statuses/365578845576892420">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>I need new people to text <a href="https://twitter.com/search?q=%23foreal&amp;src=hash">#foreal</a></p>&mdash; Kim  (@LiTemple) <a href="https://twitter.com/LiTemple/statuses/365573256113164289">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Good soldiers never pass up a chance to eat or sleep <a href="https://twitter.com/search?q=%23Quote&amp;src=hash">#Quote</a></p>&mdash; Daniel Baxter (@Stoon1989) <a href="https://twitter.com/Stoon1989/statuses/365578845664985088">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>I know I shouldn&#39;t buy any new clothes but I mean why not right? 😁</p>&mdash; RK (@_RyanKessler) <a href="https://twitter.com/_RyanKessler/statuses/365577867507150851">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p><a href="https://twitter.com/mrsimplebuffalo">@mrsimplebuffalo</a> <a href="https://twitter.com/thungyeols">@thungyeols</a> <a href="https://twitter.com/seoulitaire">@seoulitaire</a> elle pls you need Jesus</p>&mdash; xiutits (@sayybaozi) <a href="https://twitter.com/sayybaozi/statuses/365452297519632384">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>When you find out who unfollowed you on Twitter <a href="http://t.co/m3FjNsfMoh">pic.twitter.com/m3FjNsfMoh</a></p>&mdash; &#39;Dilan (@MR_DILAN_P) <a href="https://twitter.com/MR_DILAN_P/statuses/365578845304287232">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>Why did Jeff Bezos&#39;s Purchase the Washington Post?&#10;<a href="http://t.co/OVbal5pNjK">http://t.co/OVbal5pNjK</a>&#10;(<a href="https://twitter.com/charlespgarcia">@charlespgarcia</a>)</p>&mdash; Charles Garcia  (@charlespgarcia) <a href="https://twitter.com/charlespgarcia/statuses/365563167717326850">August 8, 2013</a></blockquote>
    
    <span class="pull-right"><button class="btn btn-primary">Send Twitter Card</button><button class="btn btn-mini">Not a Buy Signal?</button></span>
    <blockquote class="twitter-tweet"><p>100 Followinqq i need  to follow more so follow me ahn ill follow back &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</p>&mdash; Ms. D ♥ (@Aranisaaaa) <a href="https://twitter.com/Aranisaaaa/statuses/365578845920821248">August 8, 2013</a></blockquote>
    

  <%# end %>
</div>

