<div class="row">
  <div class="span3">
    <ul class="nav nav-list dashboard-sidebar">
      <li class="nav-header">My Dashboard</li>
      <li class="active"><a href="#">Buy Signals</a></li>
      <li><a href="#">Other Tab</a></li>
    </ul>
  </div>
  <div class="span9">
    <h1>Listing <%= current_user.name %>'s queries</h1>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <% @queries.each_with_index do |query, index| %>
          <% if index==0 %>
            <li class="active"><a href="#tab<%= index+1 %>" data-toggle="tab">Channel <%= index+1 %></a></li>
          <% else %>
            <li><a href="#tab<%= index+1 %>" data-toggle="tab">Channel <%= index+1 %></a></li>
          <% end %>
        <% end %>
        <li><a href="#tab<%= @queries.size+1 %>" data-toggle="tab">+ Add Channel</a></li>
        <!-- <li><%= link_to '+ Add Channel', new_query_path, class: ""%></li> -->
      </ul>
      <div class="tab-content">
        <% @queries.each_with_index do |query, index| %>
          <% if index==0 %>
            <div class="tab-pane active" id="tab<%= index+1 %>">
              <table class="table table-striped">
                <thead>  
                  <tr>
                    <th>Keyword</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render query %>
                </tbody>
              </table>
              <table class="table table-striped">
                <thead>  
                  <tr>
                    <th>Tweet</th>
                    <th>Location</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% query.results.each do |result| %>
                    <tr><td><%= result.text %></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <div class="tab-pane" id="tab<%= index+1 %>">
              <table class="table table-striped">
                <thead>  
                  <tr>
                    <th>Keyword</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody><%= render query %></tbody>
              </table>
            </div>
          <% end %>
        <% end %>
        <div class="tab-pane" id="tab<%= @queries.size+1 %>">
<!-- -->
        </div>
      </div>
    </div>

<!-- <table class="table table-striped">
  <thead>  
    <tr>
      <th>Keyword</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @queries %>
  </tbody>
</table> -->
  </div>
</div>
