<div class="row">
  <div class="span2">
    <%= render 'queries/sidebar' %>
  </div>
  <div class="span10">
    <h1>Listing <%= current_user.name %>'s Channels</h1>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <% queries = current_user.queries %>
        <% queries.each_with_index do |query, index| %>
          <% unless query.new_record? %>
            <li><%= link_to "Channel #{index+1}", query  %></li>
          <% end %>
        <% end %>
        <li class="active"><%= link_to "+ Add Channel", new_query_path %></li>
      </ul>
      <div class="tab-content">
        <h3>New Channel</h3>
        <%= simple_form_for @query, :html => { :class => 'form-horizontal' } do |f| %>
          <%= f.input :name %>
          <%= f.input :zip_code, as: :string %>
          <%= f.input :radius, collection: (5..100).step(5), prompt: "Miles" %>
          <%= f.input :max_spending, as: :string %>
          <%= f.input :notifications, label:'Send email notifications about this Channel' %>
          <div class="form-actions">
            <%= f.submit "Create Channel", class: "btn btn-primary"%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
